/* Reset các giá trị mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Toàn bộ trang */
body {
    background-image: linear-gradient(to bottom, #2f3640, #1e272e);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 0px;
}

/* Container chính của form đăng ký */
.register {
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgb(219, 218, 218);
    border-radius: 15px;
    width: 40%;
    padding: 10px;
    overflow: hidden;
}

/* Nội dung chính */
.register--content {
    width: 100%;
}

/* Phần logo và tiêu đề */
.register--content__logo {
    text-align: center;
    /* margin-bottom: 30px; */
}

.register--content__logo .logo img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    object-fit: cover;
}

.register--content__logo .title h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

/* Form thông tin */
.register--content__info h1 {
    font-size: 1rem;
    font-weight: 600;
    color: #444;
    /* margin-bottom: 10px; */
}

.register--content__info .ipt {
    width: 100%;
    padding: 10px;
    /* margin-bottom: 10px; */
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1em;
    color: #333;
    outline: none;
    transition: border-color 0.5s ease;
}

.register--content__info .ipt:focus {
    border-color: #5c85d6;
    box-shadow: 0 0 5px rgba(92, 133, 214, 0.5);
}

/* Nút đăng ký */
/*
.register--content__info .btndangky {
    width: 100%;
    padding: 10px;
    background-color: #5c85d6;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-top: 10px;
}

.register--content__info .btndangky:hover {
    background-color: #3c5dbd;
}

.register--content__info span {
    display: block;
    text-align: center;
    margin-top: 5px;
    color: #777;
    font-size: 0.9rem;
}

.register--content__info span a {
    color: #5c85d6; 
    text-decoration: none;
    font-weight: bold;
}

.register--content__info span a:hover {
    text-decoration: underline;
}
*/

/* ***** */
.register--content__other .btndangky {
    width: 30%;
    padding: 10px;
    background-color: #5c85d6;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-top: 10px;
}

.register--content__other .btndangky:hover {
    background-color: #3c5dbd;
}

.register--content__other span {
    display: block;
    text-align: center;
    margin-top: 5px;
    color: #777;
    font-size: 0.9rem;
}

.register--content__other span a {
    text-decoration: none;
    font-weight: bold;
}

.register--content__other span a:hover {
    text-decoration: underline;
}
/* ***** */
/* Phần các nền tảng khác */
.register--content__other {
    text-align: center;
    /* margin-top: 10px; */
}

.register--content__other p {
    color: #777;
    font-size: 0.9rem;
    /* margin-bottom: 5px; */
}

.register--content__other h1 {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

/* Liên kết mạng xã hội */
/* .register--content__other .fb--gg--twitter ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.register--content__other .fb--gg--twitter li a {
    display: inline-block;
    font-size: 30px;
    color: #777;
    transition: transform 0.5s ease;
}

.fb--gg--twitter li a:hover {
    transform: scale(1.2);
    color: black;
} */

.login--google {
    display: flex; 
    justify-content: center;
}

.login--google button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* Kích thước nút */
    height: 50px;
    border: none; /* Xóa viền nút */
    border-radius: 20px; /* Tạo nút tròn */
    font-size: 25px; /* Kích thước biểu tượng */
    color: #404040;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.login--google button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: black;
}
