.documents {
    display: flex;
    justify-content: left;
    gap: 35px;
    padding: 20px 50px;

    /* border: 1px solid; */
}

.container--menu__items ul li a.other {
    background-color: #e4e3e3;
    color: black;
}

/* Toàn bộ thanh cuộn */
::-webkit-scrollbar {
    width: 12px; /* Chiều rộng thanh trượt dọc */
    height: 12px; /* Chiều cao thanh trượt ngang */
}

/* Phần track (nền của thanh cuộn) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền */
    border-radius: 10px; /* Bo góc cho track */
}

/* Phần thumb (phần kéo được trên thanh cuộn) */
::-webkit-scrollbar-thumb {
    background: #888; /* Màu của thumb */
    border-radius: 10px; /* Bo góc */
}

/* Thumb khi hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Màu khi hover */
}

/* Thanh cuộn góc (góc giữa cuộn dọc và ngang) */
::-webkit-scrollbar-corner {
    background: #f1f1f1; /* Màu nền của góc */
}
